body {
            font-family: Arial, sans-serif;
            background-color:gray;
            color: #333;
            margin-left: 25%;
            margin-right: 25%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: gray;
        }

        a {
            color: #1e90ff;
            margin-bottom: 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
2            margin-bottom: 25px;
            border: 0px solid white;
        }

        table,
        th,
        td {
            border: 0px solid white;
        }

        th,
        td {
            padding: 7px;
            text-align: left;
        }

        ul {
            list-style-type:circle;
            margin-left: 20px;
            list-style-color:solid #ffff;
        }

        li {
            padding: 7px;
        }

        hr {
            color: white;
            border: width 4px;
            margin-top: 48px;
            background-color: white;
        }